*{
    padding: 0;
    margin: 0;
}
body{
    width:100%;
    background: rgb(200, 173, 113);
}
.container{
    margin: auto;
    width: 90%;
    background:#FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cabecera{
    width: 100%;
    height: 380px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerline1{
    background:#fff;
    width: 40%;
    height: 5px;
    border-radius: 4px;
    margin:0 auto;
}
.headerline2{
    background:#fff;
    width: 40%;
    height: 5px;
    border-radius: 4px;
    margin:5px auto;
}
.headerTittle{
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 100%;
    color: #FFF;
    background:rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 10;
    height: 60px;
}
.headerTittle h1{
    margin: 6px 40%;
}
.headerimg{
    margin: 5px 0;
    width: 100%;
    height:350px;
    position: relative;
    display: flex;
    justify-content: center;
}
.imgcabecera{
    width: 80%;
    height: 350px;
    position:relative;
    margin:0 auto;
}
.navigation{
 position: fixed;
 inset:20px;
 background:#FFC3BD;
 width:80px;
 height: 400px;
 /*width: 80px;*/
 border-radius: 50px;
 box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
 transition: 0.7s;
 overflow: hidden;
 z-index:90;
}
.icon{
    margin:10px 5px;
    width: 30px;
    height: 30px;
}
.title{
    margin:0 25px;
}
.navigation.active{
    width:250px;
    border-radius: 20px;
}
.toggle{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow:5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle::before{
    content:'';
    position: absolute;
    width: 26px;
    height: 3px;
    background:#FFC3BD;
    border-radius: 3px;   
    transform:translateY(-5px);
    transition:1s;   
}
.toggle::after{
    content:'';
    position: absolute;
    width: 26px;
    height: 3px;
    background:#FFC3BD;
    border-radius: 3px;   
    transform:translateY(5px);
    transition:1s;   
}
.navigation.active .toggle::before{
    transform:translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after{
    transform:translateY(0px) rotate(225deg);
}
.navigation ul{
    position: absolute;
    top:20px;
    left: 15px;
    width: 100%;
}
.navigation ul li{
    position: relative;
    list-style: none;
  width:100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}.navigation ul li:nth-child(1){
    top: 20px;
    margin-bottom: 40px;
    background: none;
    font-size: 1.2em;
}

.navigation ul li:not(:first-child):hover::before{
    content: '';
    position: absolute;
    top: -20px;
    right:0;
    width: 20px;
    height: 20px;
    background:transparent;
    border-bottom-left-radius: 20px;
    box-shadow: 7.5px 7.5px 7.5px #fff;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
 @media(max-width:800px){
    
.container{
    margin:0;
    padding:0;
    width:100%;
    background: #fff;
    }
    .cabecera{
        width: 90%;
        height: 301px;
    }
    .headerTittle{
        height: 50px;
       width: 100%;
       }
     .headerline1{
        width: 60%;
     }  
     .headerline2{
        width: 60%;
     } 
    .headerTittle h1{
        font-size: 1.1em;
        margin: 8px 24%;
    }   
       .headerimg{
        margin: -2px 0;
        width: 100%;
        height:300px;
       
    }
    .imgcabecera{
        width: 100%;
        height: 300px;
        
    }  
    .navigation{
        width: 60px;
         }
     
.icon{
    margin:10px -7px;
    width: 25px;
    height: 25px;
}

.title{
    margin:10px 45px;
}
.toggle{
    width: 40px;
    height: 40px;
    margin:5px -5px;
}
 }   
